<!-- FOOTER -->

<footer>
    <div>
        <h4>Contact Us</h4>
        <p>Academy Address</p>
        <p>City, State Zip</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@academy.com</p>
    </div>
    <div>
        <h4>Library Hours</h4>
        <p>Monday - Friday: 9am - 5pm</p>
        <p>Saturday: 10am - 4pm</p>
        <p>Sunday: Closed</p>
    </div>
    <div>
        <h4>Helpful Links</h4>
        <a href="https://picsartacademy.am/">Academy Website</a>
        <a href="https://www.facebook.com/PicsartArmenia">Facebook</a>
        <a href="">Twitter</a>
        <a href="">Feedback Form</a>
    </div>
</footer>